.admin-main-container {
    background-color: #e7f9f5;
    height: calc(100vh - 64px);
    overflow-y: auto;
    padding: 50px 250px;
}

.admin-title {
    font-size: 16px;
    color: #45795b;
    font-weight: 700;
}

.admin-content {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}

.admin-paper {
    cursor: pointer;
}

.admin-paper:hover {
    box-shadow: 0 0 10px 0 rgba(69, 121, 91, 0.6);
}

