/* 统一强制图表容器 100% 宽度，避免出现“居中且 50% 宽”的问题 */
.bioo-chart {
    width: 100%;
}

.bioo-chart canvas,
.bioo-chart svg {
    width: 100%;
    max-width: 100%;
}

.bioo-chart__viewport {
    width: 100%;
    height: 100%;
}

.bioo-chart__surface {
    width: 100% !important;
    height: 100% !important;
    display: block;
    min-width: 0;
}

.bioo-chart__surface > div,
.bioo-chart__surface canvas,
.bioo-chart__surface svg {
    width: 100% !important;
    height: 100% !important;
    max-width: 100%;
}


